<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuikBux.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FBB18A11BF8136A0010F0AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FBB18B51BF8136B0010F0AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FBB18C01BF8136B0010F0AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
